{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .jumbotron {
            width: 100%;
        }
        .frm ul {
            list-style: none;
            padding: 0;
        }
        .frm ul li {
            padding: .75rem 1.25rem;
            margin-bottom: 1rem;
            background-color: #f2dede;
            color: #a94442;
            border: 1px solid #ebcccc;
            border-radius: .25rem;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container flex-center">

        <div class="jumbotron">

            <h1 class="mb-4">URL Shortener</h1>

            {% if app.request.query.get('error') %}
                <div class="alert alert-danger">
                    {{ app.request.query.get('error') }}
                </div>
            {% endif %}

            {{ form_start(form, {'attr': {'class': 'frm form-group'}, action:path('homepage')}) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            {% if app.request.query.get('short_url') %}

                {% set short_url = app.request.query.get('short_url') %}
                {% set full_url  = app.request.getSchemeAndHttpHost() ~ app.request.getBaseUrl() ~ '/' ~ short_url %}

                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Shortened URL</h4>
                        <a href="{{ path('expand', { 'url': short_url }) }}" class="card-link" target="_blank">
                            {{ full_url }}
                        </a>
                    </div>
                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}
